.footer-nav-link {
  width: fit-content;
  display: inline !important;
  font-weight: 500;
  text-decoration: none !important;
  transition: all 0.5s;
  position: relative;
}
.footer-nav-link * {
  transition: all 0.5s;
}
.footer-nav-link-icon {
  margin-right: 10px;
}
.footer-nav-link:hover > .footer-nav-link-icon {
  margin-right: 20px;
}
.footer-bottom {
  border-top: 2px solid rgba(255, 255, 255, 0.438);
}
